# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.venv/
.pytest_cache/

# Node
node_modules/
dist/
build/
.npm/

# DB
*.db
*.sqlite3
aura.db

# Environment variables
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
